<div class="container">
  <div class="center">
    <div class="row">
      <div *ngIf="!authService.signUp" class="col-sm-8 col-sm-offset-2">
        <div *ngIf="loginErrorMessage" class="alert alert-danger">
          {{loginErrorMessage}}
        </div>
        <div *ngIf="signUpValidMessage" class="alert alert-success">
          {{signUpValidMessage}}
        </div>
        <h3>Login</h3>
        <form name="form" (ngSubmit)="login()" #f="ngForm" novalidate>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <input
              type="text"
              class="form-control login-form"
              placeholder="email"
              name="email"
              [(ngModel)]="loginuser.email"
              #email="ngModel"
              required
            />
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <input
              type="password"
              class="form-control login-form"
              placeholder="password"
              name="password"
              [(ngModel)]="loginuser.password"
              #password="ngModel"
              required
            />
          </div>
          <button class="btn btn-success pull-right login-form">
            Login
          </button>
        </form>
        <a routerLink="/reset_password">パスワードを忘れた方はこちら</a>
      </div>


      <div *ngIf="authService.signUp" class="col-sm-8 col-sm-offset-2">
        <div *ngIf="signUpErrorMessage" class="alert alert-danger">
          {{signUpErrorMessage}}
        </div>
        <h3>SignUp</h3>
        <form name="form" (ngSubmit)="signup()" #f="ngForm" novalidate>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label>email</label>
            <input
              type="text"
              class="form-control login-form"
              placeholder="email"
              name="email"
              [(ngModel)]="signup_user.email"
              #email="ngModel"
              required
            />
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label>ユーザ名</label>
            <input
              type="text"
              class="form-control login-form"
              placeholder="username"
              name="username"
              [(ngModel)]="signup_user.username"
              #username="ngModel"
              required
            />
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label>パスワード</label>
            <input
              type="password"
              class="form-control login-form"
              placeholder="password"
              name="password"
              [(ngModel)]="signup_user.password"
              #password="ngModel"
              required
            />
          </div>
          <div class="form-group">
            <label>プロフィール</label>
            <textarea
              class="form-control login-form"
              placeholder="profile"
              name="profile"
              [(ngModel)]="signup_user.profile"
              #profile="ngModel"
            ></textarea>
          </div>
          <button class="btn btn-success pull-right login-form">
            SignUP
          </button>
        </form>
      </div>
    <div>
  </div>
</div>
