<div class="container">
  <div class="center">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h3>パスワードを更新</h3>
        <form name="form" (ngSubmit)="changePassword()" #f="ngForm" novalidate>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label>現在のパスワード</label>
            <input
              type="password"
              class="form-control login-form"
              name="現在のパスワード"
              [(ngModel)]="oldpasword"
              #email="ngModel"
              required
            />
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label>新しいパスワード</label>
            <input
              type="password"
              class="form-control login-form"
              name="新しいパスワード"
              [(ngModel)]="newpassword"
              #password="ngModel"
              required
            />
          </div>
          <button class="btn btn-success pull-right login-form">
            パスワードを更新する
          </button>
        </form>
      </div>
    <div>
  </div>
</div>
