<div class="container">
  <div class="center">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div *ngIf="changePasswordSuccessMessage" class="alert alert-success">
          {{changePasswordSuccessMessage}}
        </div>
        <div *ngIf="changePasswordErrorMessage" class="alert alert-danger">
          {{changePasswordErrorMessage}}
        </div>
        <h3>パスワードを更新</h3>
        <form name="form" (ngSubmit)="changePassword()" #f="ngForm" novalidate>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !oldpassword.valid }">
            <label>現在のパスワード</label>
            <input
              type="password"
              class="form-control login-form"
              name="oldpassword"
              [(ngModel)]="oldPassword"
              #oldpassword
              required
            />
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !newpassword.valid }">
            <label>新しいパスワード</label>
            <input
              type="password"
              class="form-control login-form"
              name="newpassword"
              [(ngModel)]="newPassword"
              #newpassword
              required
            />
          </div>
          <button class="btn btn-success pull-right login-form">
            パスワードを更新する
          </button>
        </form>
      </div>
    <div>
  </div>
</div>
