<nav class="navbar navbar-default">
  <div class="container">
    <a routerLink="/" class="title navbar-brand">Authentication Sample</a>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="authService.userLogin">
        <a routerLink="/mypage" class="cursor_pointer">{{authService.userInfo.email}}</a>
      </li>
      <li *ngIf="authService.userLogin">
        <a (click)="authService.logout()" class="cursor_pointer">Logout</a>
      </li>
      <li *ngIf="!authService.userLogin && authService.signUp">
        <a (click)="authService.signUp = false" class="cursor_pointer">Login</a>
      </li>
      <li *ngIf="!authService.userLogin && !authService.signUp">
        <a (click)="authService.signUp = true" class="cursor_pointer">Signup</a>
      </li>
    </ul>
  </div>
</nav>
