<div class="container">
  <div class="center">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div *ngIf="updateSuccessMessage" class="alert alert-success">
          {{updateSuccessMessage}}
        </div>
        <div *ngIf="updateErrorMessage" class="alert alert-danger">
          {{updateErrorMessage}}
        </div>
        <h3>MyPage</h3>
        <form name="form" (ngSubmit)="updateUserInfo()" #f="ngForm" novalidate>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label>email</label>
            <input
              type="text"
              class="form-control login-form"
              placeholder="email"
              name="email"
              [(ngModel)]="editUserEmail"
              #email="ngModel"
              required
            />
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label>ユーザ名</label>
            <input
              type="text"
              class="form-control login-form"
              placeholder="username"
              name="username"
              [(ngModel)]="editUserName"
              #username="ngModel"
              required
            />
          </div>
          <div class="form-group">
            <label>プロフィール</label>
            <textarea
              class="form-control login-form"
              placeholder="profile"
              name="profile"
              [(ngModel)]="edtiUserProfile"
              #profile="ngModel"
            ></textarea>
          </div>
          <button [disabled]=!isAbleChangeUserInfo class="btn btn-success pull-right login-form">
            Edit
          </button>
        </form>
        <div>
          <a routerLink="/change_password">パスワード更新はこちら</a>
        </div>
        <div>
          <a routerLink="/user_delete">ユーザ削除はこちら</a>
        </div>
      </div>
    <div>
  </div>
</div>
