<div class="container">
  <div class="center">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <!-- <div *ngIf="updateSuccessMessage" class="alert alert-success">
          {{updateSuccessMessage}}
        </div>
        <div *ngIf="updateErrorMessage" class="alert alert-danger">
          {{updateErrorMessage}} -->
        </div>
        <h3>Reset Password</h3>
        <form name="form" (ngSubmit)="resetPassword()" #f="ngForm" novalidate>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label>email</label>
            <input
              type="text"
              class="form-control login-form"
              placeholder="email"
              name="email"
              [(ngModel)]="resetPasswordEmail"
              #email="ngModel"
              required
            />
          </div>
          <button [disabled]=!isAbleResetPassword class="btn btn-success pull-right login-form">
            パスワードリセット
          </button>
        </form>
      </div>
      <p>新しいパスワード:</p>
    <div>
  </div>
</div>
